@model DataAccess.Models.ProductCartObject;




<div class="cart-box" data-product-id=@Model.ProductId>

    <img src=@Model.ImageUrl class="cart-img" />

    <div class="detail-box">
        <div class="cart-product-title">@Model.ProductName @Model.Size @Model.Color</div>
        @if (Model.DiscountedPrice > 0)
        {
            <div class="old-price">$@Model.Price</div>

            <div class="price-box">
                <div class="order-price"><span class="discount">$@Model.DiscountedPrice</span> x @Model.Quantity </div>
                <div class="order-amt">$@Model.DiscountedPrice</div>
                <div class=""><i class="cart-remove fa-regular fa-trash-can"></i></div>
            </div>
        }
        else
        {
            <div class="price-box">

                <div class="order-price">$@Model.Price x @Model.Quantity </div>
                <div class="order-amt">$@Model.Price</div>
                <div class=""><i class="cart-remove fa-regular fa-trash-can"></i></div>

            </div>
        }

        <div class="product-amount">
            <form method="post" action="@Url.Action("ChangeQuantity", "Order")">
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <input type="hidden" name="operation" value="decrease" />
                <button type="submit" class="amount-button">-</button>
            </form>

            <div id="current-amount-@Model.ProductId">@Model.Quantity</div>

            <form method="post" action="@Url.Action("ChangeQuantity", "Order")">
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <input type="hidden" name="operation" value="increase" />
                <button type="submit" class="amount-button">+</button>
            </form>
        </div>
    </div>
</div>