@model DataAccess.Models.Product;

<div class="product-tile">
	<div class="">
		@if (Model.Promotion != null)
		{
			<div class="sale-badge">Sale</div>
		}
	</div>
	<div class="product-image">

		<a href="@Url.Action("Article", "Products", new { n = @Model.ProductName })">
			<img src="@Model.ImageUrl" alt="@Model.ProductName"/>
		</a>
		<div class="product-buttons">
			<i class="fa-regular fa-heart heart"></i>
			<i class="fa-solid fa-bag-shopping buy"></i>
		</div>
	</div>
	<div class="product-rating">
		<div>
			@for (var i = 0; i < 5; i++)
			{
				if (Model.Rating > i)
				{
					<i class="fa-solid fa-star"></i>
				}
				else
				{
					<i class="fa-regular fa-star"></i>
				}
			}
		</div>
	</div>
	<div class="product-name">
		@Model.ProductName
	</div>
	<div class="product-price">
		@if (Model.Promotion != null)
		{
			var discountPrice = Model.ProductPrice * (1 - Model.Promotion.DiscountRate);
			var formattedDiscountPrice = discountPrice.ToString("0.0");

			<span class="product-price-old">$@Model.ProductPrice.ToString("0.00")</span>
			<span class="product-price-sales">$@formattedDiscountPrice</span>
		}
		else
		{
			<span class="product-price-old">$@Model.ProductPrice.ToString("0.00")</span>
		}
	</div>



</div>