@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}



<div class="card-header my-3 bg-white d-flex justify-content-center border-0 text-secondary">
    <div class="d-flex flex-column">
        <div style="height: 120px; width: 120px;" class="d-flex align-self-center justify-content-center my-2 align-items-center bg-secondary bg-opacity-25 rounded-circle">
            <i class="text-white display-2 fa-regular fa-user justify-content-center"></i>
        </div>
        @if (!@Model.Username.Split('@')[0].Contains('.'))
        {
            <h3 class="text-dark">@Model.Username.Split('@')[0]</h3>
        }
        else
        {
            <h3 class="align-self-center text-dark">@Model.Username.Split('.')[0] @Model.Username.Split('.')[1].Split('@')[0]</h3>
        }
        <h6 class="align-self-center text-muted">@Model.Username</h6>


    </div>

</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between border-end-0 border-start-0 rounded-0" style="height: 75px">
        <i class="far fa-envelope text-secondary text-decoration-none justify-content-center h4"></i>
        <a class="text-secondary text-decoration-none justify-content-center h5 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
        <i class="fa-solid fa-chevron-right text-secondary text-decoration-none justify-content-center h4"></i>
    </li>
    <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between border-end-0 border-start-0 rounded-0" style="height: 75px">
        <i class="fa-regular fa-key text-secondary text-decoration-none  justify-content-center h4"></i>
        <a class="text-secondary text-decoration-none h5 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
        <i class="fa-solid fa-chevron-right text-secondary text-decoration-none justify-content-center h4"></i>
    </li>
    <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between border-end-0 border-start-0 rounded-0" style="height: 75px">
        <i class="fa-regular fa-right-to-bracket text-secondary text-decoration-none justify-content-center h4"></i>
        <a id="external-login" class="text-secondary text-decoration-none h5 @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
        <i class="fa-solid fa-chevron-right text-secondary text-decoration-none justify-content-center h4"></i>
    </li>
    <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between border-end-0 border-start-0 rounded-0" style="height: 75px">
        <i class="far fa-lock text-secondary text-decoration-none justify-content-center h4"></i>
        <a class="text-secondary text-decoration-none h5 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
        <i class="fa-solid fa-chevron-right text-secondary text-decoration-none justify-content-center h4"></i>
    </li>
    <li class="list-group-item list-group-item-action d-flex align-items-center justify-content-between border-end-0 border-start-0 rounded-0" style="height: 75px">
        <i class="fa-regular fa-file-shield text-secondary text-decoration-none justify-content-center h4"></i>
        <a class="text-secondary text-decoration-none h5 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal Data</a>
        <i class="fa-solid fa-chevron-right text-secondary text-decoration-none justify-content-center h4"></i>
    </li>
</ul>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
