@model CategoriesViewModel
@{
}
<section class="categories">
    <div class="container">
        <div class="main-categories-nav" id="mc-btns">
            @foreach (var primaryCategory in Model.PrimaryCategories)
            {
                <div class="main-categories-nav-box">
                    @if (primaryCategory.PrimaryCategoryId == Model.SelectedPrimaryCategory)
                    {
                        <button id="@primaryCategory.PrimaryCategoryId" class="main-categories-nav-box-btn active">@primaryCategory.PrimaryCategoryName</button>
                    }
                    else
                    {
                        <button id="@primaryCategory.PrimaryCategoryId" class="main-categories-nav-box-btn">@primaryCategory.PrimaryCategoryName</button>
                    }
                </div>
            }
        </div>
    </div>

    <!-- Grid Section -->
    <div class="grid-container">

        <partial name="_CategoriesPartial" model="@Model.SubCategories" />

    </div>
</section>

@section Scripts
    {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var buttons = document.querySelectorAll(".main-categories-nav-box-btn");

            buttons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var primaryCategoryId = button.id;

                    // Create an AJAX request
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                // Update the grid container with the new content
                                var gridContainer = document.querySelector(".grid-container")
                                console.log(xhr.responseText)

                                gridContainer.innerHTML = xhr.responseText;
                            }
                        }
                    };
                    xhr.open("GET", `/Categories/RefreshIndex?primaryCategoryId=${primaryCategoryId}`, true);
                    xhr.send();
                });
            });
        });
    </script>
}