@model CategoriesViewModel
@{
}
<section class="categories">
    <div class="container">
        <div class="main-categories-nav" id="mc-btns">
            <div class="main-categories-nav-box">
                <button class="main-categories-nav-box-btn active">MEN</button>
            </div>
            <div class="main-categories-nav-box">
                <button class="main-categories-nav-box-btn">WOMEN</button>
            </div>
            <div class="main-categories-nav-box">
                <button class="main-categories-nav-box-btn">UNISEX</button>
            </div>
        </div>
    </div>

    <!-- Grid Section -->
    <div class="grid-container">
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Dresses</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Pants</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Accessories</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Shoes</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">T-Shirts</div>
        </a>
    </div>
</section>
