@model CategoriesViewModel
@{
}
<section class="categories">
    <div class="container">
        <div class="main-categories-nav" id="mc-btns">
            @foreach (var primaryCategory in Model.PrimaryCategories)
            {
                <partial name="_PrimaryCategoryButton" model="primaryCategory" />
            }
        </div>
    </div>

    <!-- Grid Section -->
    <div class="grid-container">
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Dresses</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Pants</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Accessories</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">Shoes</div>
        </a>
        <a href="@Url.Action("Index", "Products")" class="grid-item">
            <div class="text-wrapper">T-Shirts</div>
        </a>
    </div>
</section>
