@model CheckoutViewModel
@{
}

<section>
    @Model.TotalOrderSum
    <hr />
    @Model.Products
    @Model.OrderDiscount
    @Model.DeliveryFee
    <hr />
    @Model.ShippingDetails
    <hr />
    @Model.PaymentMethod
    <hr />
    <div>Comment</div>
</section>