@model CheckoutViewModel
@{
}

<section class="checkout-page">
    @Model.Order.TotalAmount 
    <hr />
    @Model.Order.Items
    @Model.Order.PromotionDiscount
    @Model.DeliveryFee
    <hr />

    <div>
        <a asp-controller="Order" asp-action="ShippingDetails" asp-route-addressType="Delivery"
        asp-route-viewModel="@Model.Order.DeliveryAddressSchema" >
            @Model.Order.DeliveryAddressSchema
        </a>
    </div>

    <div>
        <a asp-controller="Order" asp-action="ShippingDetails" asp-route-addressType="Billing"
        asp-route-viewModel="@Model.Order.BillingAddressSchema">
            @Model.Order.BillingAddressSchema
        </a>
    </div>
    
    <hr />
    @Model.Order.PaymentMethod
    <hr />
    <div>Comment</div>

    <div>
        <a asp-controller="Order" asp-action="SubmitCheckout" asp-route-order="@Model.Order">
            Confirm Order
        </a>
    </div>

</section>