@model CheckoutViewModel
@{
}

<section class="checkout-page">
    @Model.Order.TotalAmount 
    <hr />
    @Model.Order.Items
    @Model.Order.PromotionDiscount
    @Model.DeliveryFee
    <hr />

    <div>
        <a asp-controller="Order" asp-action="ShippingDetails" asp-route-addressType="Delivery"
        asp-route-cid="@Model.Order.CustomerId" >
            Deliveryaddress:   @Model.Order.DeliveryAddressSchema
        </a>
    </div>

    <div>
        <a asp-controller="Order" asp-action="ShippingDetails" asp-route-addressType="Billing"
        asp-route-cid="@Model.Order.CustomerId">
            Billingaddress:   @Model.Order.BillingAddressSchema
        </a>
    </div>
    
    <hr />
    @Model.Order.PaymentMethod
    <hr />
    <div>Comment</div>

    <div>
        <a asp-controller="Order" asp-action="SubmitCheckout" asp-route-orderAsJsonObject="@Model.OrderDataJson">
            Confirm Order
        </a>
    </div>

</section>