@model OrderViewModel



<section class="order-section">
    <div class="container">
        <div class="header-box">
            <h1>Your Order</h1>
        </div>


        @foreach (var product in Model.Order.Items)
        {
            <div class="cart-box" data-product-id=@product.ProductId>

                <img src=@product.ImageUrl class="cart-img" />

                <div class="detail-box">
                    <div class="cart-product-title">@product.ProductName @product.Size @product.Color</div>
                    <div class="price-box">
                        @if (product.DiscountedPrice > 0)
                        {
                            <div class="cart-price">@product.DiscountedPrice x @product.Quantity </div>
                            <div class="cart-amt">@product.DiscountedPrice</div>
                        }
                        else
                        {
                            <div class="cart-price">@product.Price x @product.Quantity </div>
                            <div class="cart-amt">@product.Price</div>
                        }


                        <div class=""><i class="cart-remove fa-regular fa-trash-can"></i></div>
                    </div>
                    <input type="number" value="@product.Quantity" class="add-cart cart-quantity" min="1" />
                </div>
            </div>

        }


    </div>
</section>