@model ShippingDetailsViewModel
@{
    var address = new CustomerAddressSchema();
}
@* Container *@

<div class="shipping-container">
    @* Top *@

    <div class="top-flex">
        <div class="decenter"><partial name="_BackButtonPartial" /></div>
        <h3>Shipping Details</h3>
        <div class="decenter"></div>
    </div>

    @* Map? *@
    @* <div>
        <iframe />
    </div> *@

    @* List Addresses *@
    <div class="address-list">
        @foreach(var addressItem in @Model.CustomerAddresses)
        {
            <div class="address-grid">
                <div class="address-name">@addressItem.AddressName</div>
                <div class="address-location">@addressItem.PostalCode @addressItem.StreetAddress @addressItem.Streetnumber, @addressItem.City, @addressItem.Country</div>
                <div class="select-address" onclick="select-this-address"></div>
            </div>
        }
    </div>

    @* Use current button *@
    <div></div>

    @* Address to use *@
    <div >
        <form method="post">
            <div>
                <input type="text" asp-for="@address"/>
            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </form>
    </div>

    @* Back to order button*@
    <a asp-controller="Order" asp-action="Index" asp-route-address="address">Back to</a>
</div>