@using DataAccess.ExtensionMethods;
@model ShippingDetailsViewModel
@{
    var address = new ShippingAddressSchema();
}
@* Container *@

<div class="shipping-container">
    @* Top *@

    <div class="top-flex">
        <div class="decenter"><partial name="_BackButtonPartial" /></div>
        <h3>Shipping Details</h3>
        <div class="decenter"></div>
    </div>

    @* Map? *@
    @* <div>
        <iframe />
    </div> *@

    @* List Addresses *@
    <div class="address-list">
        @foreach(var addressItem in @Model.CustomerAddresses)
        {
            <div class="address-grid">
                <div class="address-name">@addressItem.AddressName</div>
                <div class="address-location">@addressItem.PostalCode @addressItem.StreetAddress @addressItem.Streetnumber, @addressItem.City, @addressItem.Country</div>
                <a class="select-address" asp-controller="Order" asp-action="Index" asp-route-id="" asp-route-shippingAddress="@DataConverter.ConvertCustomerAddressToShippingAddressSchema(addressItem);"></a>
            </div>
        }
    </div>

    @* Use current button *@
    <div></div>

    @* Other adress *@
    <div>
        <form method="post">
            <div>
                <label>Street Address</label>
                <input type="text" name="StreetAddress" value="" />
            </div>
            <div>
                <label>Street number</label>
                <input type="number" name="StreetNumber" value="" />
            </div>
            <div>
                <label>Postal Code</label>
                <input type="text" name="PostalCode" value="" />
            </div>
            <div>
                <label>Country</label>
                <input type="text" name="Country" value="" />
            </div>
            <div>
                <label>City</label>
                <input type="text" name="City" value="" />
            </div>
            <div>
                <label>Region</label>
                <input type="text" name="Region" value="" />
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>

    @* Back to order button*@
    <a asp-controller="Order" asp-action="Index" asp-route-address="address">Back to</a>
</div>